<% if flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>

<h1>Carriers</h1>

<% if @carriers.present? %>
  <div>
    <%= label_tag "by Location" %>
      <%= select_tag "filters[location]", options_for_select(@carriers, @location_name), { include_blank: true, class: "form-control" } %>
  </div>
<% end %>

<ul>
  <% @carriers.each do |carrier| %>
    <li>
      <%= link_to carrier.name, carrier %><br>
    </li>
  <% end %>
</ul>
